/* src/app/solutions/solutions.module.css */
.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem 1.5rem;
}

.header {
  text-align: center;
  margin-bottom: 4rem;
}

.header h1 {
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: -1.5px;
}

.header p {
  font-size: 1.25rem;
  color: var(--text-light);
  max-width: 700px;
  margin: 1rem auto 0;
}